.card-display-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 1em;
}
.card-text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.card-text {
  position: absolute;
  font-size: 2.2vw;
  text-align: center;
  word-wrap: break-word;
  margin: 2rem;
  color: white;

}
.image {
  width: 100%;
  height: auto;
  display: block;
}
